#regForm {
    background-color: #00c9c6;
    margin: 100px auto;
    font-family: Poppins-Regular;
    /*padding: 40px;*/
    width: 70%;
    min-width: 300px;

    /*width: 960px;*/
    /*background: #00c9c6;*/
    border-radius: 10px;
    /*overflow: hidden;*/

    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    padding: 177px 130px 33px 95px;
}

/* Style the input fields */
select {
    padding: 10px;
    width: 33%;
    font-size: 17px;
    font-family: Poppins-Regular;
    border: 1px solid #aaaaaa;
}
/*input {
    padding: 10px;
    width: 33%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}*/

/* Mark input boxes that gets an error on validation: */
/*input.invalid {
    background-color: #ffdddd;
}*/

/* Hide all steps by default: */
.tab {
    display: none;
}
/*button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}*/
#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f7931e;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

.templateElement {
    display: none;
}
